</br>

<div class="ads">
  <p class="ads-title"><b>Category: </b><%= ads.category.value%></p>
  <p class="ads-title"><b>Type: </b><%= ads.type%></p>
  <p class="ads-title"><b>Title: </b><%= ads.title%></p>
  <p><b>Text: </b> <%= text_area :ads, :text, value: "#{ads.text}", :class => "ads-text"%> </p>
  <p class="ads-contact"><b>Price: </b> <%= ads.price%>$</p>
  <p class="ads-contact"><b>Publication Time: </b> <%= ads.updated_at.to_time.strftime("%d-%m-%Y")%></p>
  
  
  <div class="form-actions">
    <% if can? :read, ads %>
      <%= link_to "About", advertisement_path(ads), :class =>"btn"%>
    <% end %>
  </div>

</div>