<% if can? :create, Advertisement %>
  <%= link_to "New ads", new_advertisement_path, :class => "btn btn-primary" %>
<% end %>

<%= form_tag root_path, method: :get, :class => "form-search" do %>
  <div class="input-append">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil, :class => "btn" %>
  </div>
<% end %>


<div id = "facets">
  <ul>
    <%= render partial: "category", collection: @category%>
  </ul>
</div>

<%= sort_link(@search, :updated_at, "Sort by publication time")%>
<%= sort_link(@search, :price, "Sort by price")%>

<%= render partial: "ads", collection: @adss%>


<% unless @adss.total_pages == 1%>
  <div class="apple_pagination">
    <%= will_paginate @adss %>
  </div>
<% end %>
