<%= params %>
<%= form_for @profile, :html => {:class => "form-horizontal"} do |f| %>
  
  <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>

  <div class="control-group">
    
    <%= render partial: "first_name_form" , locals: { f: f } %>
    <%= render partial: "second_name_form" , locals: { f: f } %>
    <%= render partial: "age_form" , locals: { f: f } %>
    <%= render partial: "status_form" , locals: { f: f, for_show: false } %>

  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to "Back", root_path, :class => "btn" %>  
  </div>  
  
<% end %>