<%= nested_form_for @ads, :html => { :class => "form-horizontal"} do |f| %>
  
  <% if @ads.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ads.errors.count, "error") %> prohibited this ads from being saved:</h2>
        <ul>
          <% @ads.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <%= render partial: "category", locals: {f: f} %>
  <%= render partial: "type", locals: {f: f} %>
  <%= render partial: "title_form", locals: {f: f} %>
  <%= render partial: "text_form", locals: {f: f} %>
  <%= render partial: "contact_form", locals: {f: f} %>
  <%= render partial: "add_picture", locals: {f: f} %>
  <%= render partial: "new_form", locals: {f: f} %>   

<% end %>