</br>

<div class="ads">
  <p class="ads-title"><b>Title: </b><%= ads.title%></p>
  <p><b>Text: </b> <%= text_area :ads, :text, value: "#{ads.text}", :class => "ads-text"%> </p>
  <p class="ads-contact"><b>Contact: </b> <%= ads.contact%></p>
  
  <div class="form-actions">
    <% if can? :read, Advertisement %>
      <%= link_to "About", advertisement_path(ads), :class =>"btn"%>
    <% end %>

    <% if can? :destroy, Advertisement %>
      <%= link_to "Delete advertisement", advertisement_path(ads), :class =>"btn btn-danger",
                  method: :delete, data: {confirm: "Are you sure?"}%>
    <% end %>
  </div>

</div>