<!DOCTYPE html>
<html>
<head>
  <title>Ads</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li> <p class="navbar-text" style="font-size:20px">World of Advertisements</p></li>
      <li class="divider-vertical"></li>
      <li><%= link_to  "Home", root_path %></li>
      <li class="divider-vertical"></li>

      
      <% if can? :manage, :all%>
        <li><%= link_to "Admin", admin: "admin" %></li>
        <li class="divider-vertical"></li>
      <% end %>

      <% if user_signed_in? %>
        <li><%= link_to current_user.email, name: "name" %></li>      
        <li class="divider-vertical"></li>
        <li><%= link_to "exit", destroy_user_session_path, method: :delete %></li>
        <li class="divider-vertical"></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li class="divider-vertical"></li>
      <% end %>

      
    </ul>
  </div>
</div>


<%= yield %>

</body>
</html>
